.tbl-content-col {
	    padding-top: 15px !important;
}

table{counter-reset:section;}
.count:before
{
	counter-increment:section;
	content:counter(section);
}

body {
	background-color: #e5e5e5 !important;
}


/* Image cropper style */
.img-container,
.img-preview {
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.img-preview-sm {
  height: 200px;
  width: 200px;
}
